.App {
  background: #232528;
  color: #8d9690;
  color: #f5f5f6;
}

.title-and-form-wrapper {
  /* padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 4rem; */
  margin-bottom: 4rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}

.page-404-container {
  background-image: url('/public/github-objects.webp');
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-404-container h1 {
  font-size: 6rem;
}
