.App {
}

.color-lane {
  background: #00a4e4;
  min-height: 30px;
}

.header-content {
  height: 10vh;
  border-bottom: 6px solid #e5e5e5;
}

.logo {
  height: 53%;
  margin-right: 1.5vw;
}

.title {
  color: #b6c5de;
}

.accordion-button:not(.collapsed) {
  background-color: #e9ecef;
  outline: none !important;
  box-shadow: none;
}

.accordion-button.collapsed {
  background-color: #e9ecef;
  outline: none !important;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  content: '-';
  color: black;
  background-image: none;
}

.accordion-button.collapsed::after {
  content: '+';
  color: black;
  font-weight: 400;

  background-image: none;
}

.my-card-text {
  color: #90acc8;
  margin-bottom: 5px;
}

.card-link {
  color: #00a4e4;
}

.page-404-container {
  /* background-image: url('/public/<name>.<type>'); */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-404-container h1 {
  font-size: 6rem;
}

@media screen and (max-width: 992px) {
  .App {
  }
}
