.App {
  background: linear-gradient(to left, #0d1116 40%, #232528);
  color: #f5f5f6;
}

.title-and-form-wrapper {
  margin-bottom: 4rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}

.page-404-container {
  background-image: url('/public/github-objects.webp');
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-404-container h1 {
  font-size: 6rem;
}

@media screen and (max-width: 992px) {
  .App {
    background: linear-gradient(to left, #0d1116 90%, #232528);

    color: #f5f5f6;
  }
}
